@font-face {
    font-family: Seinfeld;
    src: url(GLECB.ttf);
    }

.main-pic {
    display: block;
    border: 1px solid; 
    margin-left: auto; 
    margin-right:auto;
    height: 300px;
    width: auto;
}

body {
    background: url(../images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font-family: Seinfeld;
    font-style: italic;
    font-size: 60px;
    color: rgb(63, 127, 236);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    letter-spacing: 5px;
}

h2 {
    text-align: center;
    width: 500px;
    margin-left: auto;
    margin-right:auto;
}

h3 {
    margin-top: -48px;
    text-align: right;
    margin-right: -7.5px;
    color: rgb(63, 127, 236);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 48px;

}

p {
    text-align: center;
    font-size: 18px;
    font-weight:bold;
}

#container {
    margin-top: 40px; 
    margin-bottom: 40px; 
    border: solid 1px; 
    padding: 20px; 
    background-color: rgba(208, 208, 209, 0.925);
    margin-left: auto; 
    margin-right: auto; 
    width: 760px;
    height: 550px;
    display: block;
    
}

#gameplay {
    margin-top: 10px;
    text-align: center;
}

#question {
    margin-top: -20px;
}

button {
    color: black;
    padding: 10px;
    border: 2px solid black;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 10px;
    margin: 20px;
    font-weight: bold;
    font-size: 18px;
}

button:hover {
    background-color: black; 
    color: rgba(208, 208, 209);
    cursor: pointer;
}